/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;

}
body{
	font-family: sans-serif;
}
/*header top ini woe*/
.header-top{
	background-color: #6b6b6b;
	color: white;
	padding: 40px 20px 30px;
	background-image: url(../img/bg-masjid.png);
	background-repeat: no-repeat;
	background-position: 95% ;

	background-size: auto;

}
.container{
	max-width: 1000px;
	margin: auto;
}
.menu{
	background-color: #424242;
}
.menu ul{
	display: flex;
	border-left: 1px solid #333333; 
}
.menu a{
	color: white;
	padding: 15px 10px;
	display:block;
	text-decoration: none;
	
}
.menu a:hover {
	background-color: #7d7d7d;
}

a{
	transition: 0.3s;
}
.menu ul li{
	position: relative;
}
.menu ul li:hover > ul{
	display: block;
}
.menu ul ul{
	position: absolute;
	flex-direction: column;
	background-color: #444444;
	border: 1px solid #333333;
	left: -1;
	width: 150px;
	display: none;

}

.menu ul ul ul{
	top: 0px;
	left: 100%;
}

.content{
	width: 100%;
}
#main{
	width: 60%;
	display: inline-block;
	padding:20px;

}
#sidebar{
	width: 30%;
	background-color: #e0e0e0;
	display: inline-block;
	padding: 20px;

}
.isi{
	width: 100%;
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 20px;
}
.img{
	width:25%;
	height: 200px;
	display: inline-block;
	background-color: #e0e0e0;
	margin-bottom: 20px;
}
.txt{
	width: 70%;
	display: inline-block;
	margin-left: 20px;
}
